* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}
.header,
.header-2 {
  display: flex;
  width: auto;
  justify-content: space-between;
  background-color: #1f2937;
}
.logo {
  font: 24px;
  color: #e5e7eb;
}

.links {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}
.main-text {
  font: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
